# Python仮想環境
.venv/
__pycache__/
*.pyc

# Jupyter / VSCode
.ipynb_checkpoints/
.vscode/

# 環境変数ファイル
.env

# ログ / テンポラリ
*.log
*.tmp

# QdrantなどのDockerボリューム（ローカル）
qdrant/

# OS生成ファイル
.DS_Store
Thumbs.db
